@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');

:root {
    --colorBody: blanchedalmond;
    --colorOmbra: gray;
    --sombra: 2px 2px 4px var(--colorOmbra);
  }

body{
    margin: 0;
    box-sizing: border-box;
    background-color: var(--colorBody);
    font-size: max(2vw, 15px);
    padding: 10vh 20vw;
    height: 100vh;
    font-family: 'Oregano', cursive;
}

li{
    list-style-type: lower-greek;
    width: 40vw;
}

h2{
    text-transform: uppercase;
    transition: color 1s;
    text-shadow: var(--sombra);
}

h2:hover {
    color: red;
}

li.secret a{
    visibility: hidden;
}

li.secret:hover a{
    visibility: visible;
    cursor: none;
}

::selection{
    background-color: unset;
}

img{
    width: 15%;
    min-width: 100px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: -1;
}


div.banner{
    border: 1px solid black;
    background-image: url("../img/playa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 40px;
}
